In [2]:
import pandas as pd

### Exploratory analysis of worldwide deaths (1990-2019),Orginal Data Source: https://ourworldindata.org/causes-of-death

In [ ]:
#data: Reading worldwide deaths data from azure blob storage via generatig SAS URL
data=pd.read_csv('https://imtprojectstorage.blob.core.windows.net/projectdatafiles/annual-number-of-deaths-by-cause.csv?sp=r&st=2022-01-25T02:47:54Z&se=2022-06-30T09:47:54Z&spr=https&sv=2020-08-04&sr=b&sig=GQEJ0Yz%2Bj1lg%2FgLlo36jglAAnyWfm8qGh5nSc8MTHeQ%3D')

In [4]:
data.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2932.558591,15924.78254,481.219817,392.942607,2126.788535,3657.205757,...,2438.567035,1199.0,53962.25186,4490.174240,7221.773068,3345.814979,6457.753476,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2730.846137,16147.83903,462.180576,254.703403,1973.375893,3784.702895,...,2230.538625,1092.0,54050.64420,4533.825139,7142.796656,3316.354776,6407.964590,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.186423,16382.55855,448.300264,239.035635,1852.155239,3874.099828,...,1997.531216,1065.0,53964.19556,4596.974422,7045.249090,3291.158847,6358.027600,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2326.767573,17093.51567,447.884353,390.060248,1774.968476,4169.873038,...,1805.467089,1525.0,54347.26659,4784.629776,6915.563606,3317.891662,6370.000383,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.492968,17521.93019,445.226412,93.894201,1715.864705,4244.671108,...,1666.898963,3521.0,54868.12037,4845.667028,6877.511217,3352.846566,6398.171770,2264.0,1544.0,482.0

In [5]:
data.shape

(8590, 36)

In [6]:
#Checking the column names and datatypes
data.dtypes

Entity                                                                                       object
Code                                                                                         object
Year                                                                                          int64
Number of executions (Amnesty International)                                                 object
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                    float64
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                     float64
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                float64
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                       float64
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                      float64
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                        float64
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                      float64
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                            float64
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                  float64
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                 float64
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                            float64
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                  float64
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                            float64
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                         float64
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                  float64
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                            float64
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)          float64
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                      float64
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                     float64
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                        float64
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                             float64
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                    float64
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                   float64
Terrorism (deaths)                                                                          float64
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                       float64
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                        float64
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                  float64
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)    float64
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                            float64
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                               float64
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)       float64
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                           float64
dtype: object

In [33]:
data.nunique(axis=0)

Entity                                                                                       304
Code                                                                                         217
Year                                                                                          30
Number of executions (Amnesty International)                                                  81
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                    8160
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                     8160
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                8160
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                       4201
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                      8160
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                        8160
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                      8157
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                            8160
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                  8160
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                 8160
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                            8160
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                  8160
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                            8160
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                         8160
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                  2587
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                            8160
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)          8160
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                      8160
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                     8160
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                        3617
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                             8160
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                    8160
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                   8160
Terrorism (deaths)                                                                           554
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                       8160
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                        8160
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                  8160
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)    8160
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                            8160
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                               2351
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)       4957
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                           3627
dtype: int64

In [8]:
#Checking the unique values for entity in the dataset
data['Entity'].unique()

array(['Afghanistan', 'Africa', 'African Region', 'African Union',
       'Albania', 'Algeria', 'America', 'American Samoa',
       'Andean Latin America', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Asia', 'Australasia',
       'Australasia & Oceania', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Bosnia-Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Caribbean',
       'Central African Republic', 'Central America & Caribbean',
       'Central Asia', 'Central Europe',
       'Central Europe, Eastern Europe, and Central Asia',
       'Central Latin America', 'Central sub-Saharan Africa', 'Chad',
       'Chile', 'China', 'Colombia', 'Commonwealth',
       'Commonwealth High Income', 'Commonwealth Low Income',
       'Commonwealth Middle Income', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Czechoslovakia', 'Democratic Republic of Congo',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
       'East Asia', 'East Asia & Pacific', 'East Asia & Pacific - WB',
       'East Germany (GDR)', 'East Timor', 'Eastern Europe',
       'Eastern Mediterranean Region', 'Eastern sub-Saharan Africa',
       'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea',
       'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Europe',
       'Europe & Central Asia', 'Europe & Central Asia - WB',
       'European Region', 'European Union', 'Fiji', 'Finland',
       'Four World Regions', 'France', 'French Guiana',
       'French Polynesia', 'G20', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High SDI', 'High-income', 'High-income Asia Pacific',
       'High-income North America', 'High-middle SDI', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'International', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean', 'Latin America & Caribbean - WB',
       'Latin America and Caribbean', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Low SDI', 'Low-middle SDI',
       'Luxembourg', 'Macau', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)',
       'Middle East & North Africa', 'Middle East & North Africa - WB',
       'Middle SDI', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Nordic Region',
       'North Africa and Middle East', 'North America', 'North Korea',
       'North Macedonia', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'OECD Countries', 'Oceania', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Serbia-Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South America', 'South Asia',
       'South Asia - Not WB', 'South Asia - WB', 'South Korea',
       'South Sudan', 'South-East Asia Region', 'Southeast Asia',
       'Southeast Asia, East Asia, and Oceania', 'Southern Latin America',
       'Southern sub-Saharan Africa', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa', 'Sub-Saharan Africa - Not WB',
       'Sub-Saharan Africa - WB', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tropical Latin America', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'WHO region', 'Wales', 'Wallis and Futuna', 'West Germany (FRG)',
       'Western Europe', 'Western Pacific Region', 'Western Sahara',
       'Western sub-Saharan Africa', 'World', 'World (excluding China)',
       'World Bank High Income', 'World Bank Income Levels',
       'World Bank Low Income', 'World Bank Lower Middle Income',
       'World Bank Regions', 'World Bank Upper Middle Income', 'Yemen',
       'Yugoslavia', 'Zaire', 'Zambia', 'Zimbabwe'], dtype=object)

#### Column entity has 304 unique values which includes countries, income group, region, world values

In [9]:
#Checking if the dataset has missing values
data.isnull().sum()

Entity                                                                                         0
Code                                                                                        2384
Year                                                                                           0
Number of executions (Amnesty International)                                                8323
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                     370
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                      370
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                 370
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                        370
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                       370
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                         370
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                       370
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                             370
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                   370
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                  370
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                             370
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                   370
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                             370
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                          370
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                   370
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                             370
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)           370
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                       370
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                      370
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                         370
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                              370
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                     370
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                    370
Terrorism (deaths)                                                                          5699
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                        370
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                         370
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                   370
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)     370
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                             370
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                                370
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)        370
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                            370
dtype: int64

In [10]:
#data2 : Analyzing transformed file of worldwide deaths 
data2= pd.read_csv('https://imtprojectstorage.blob.core.windows.net/projectdatafilestransformed/transformed-annual-number-of-deaths-by-cause_Country.csv?sp=r&st=2022-01-31T19:34:28Z&se=2022-02-01T03:34:28Z&spr=https&sv=2020-08-04&sr=b&sig=mdF6YMofBkSqMbv8PD1ShLLehV55hJgYitrXh59R%2BnI%3D')

In [11]:
data2.head()

       Country  Year                    DeathReasons  TotalDeaths
0  Afghanistan  2007                      Executions         15.0
1  Afghanistan  2007                      Meningitis       2932.0
2  Afghanistan  2007                       Neoplasms      15924.0
3  Afghanistan  2007  Fire, heat, and hot substances        481.0
4  Afghanistan  2007                         Malaria        392.0

In [12]:
data2.info

<bound method DataFrame.info of             Country  Year                                DeathReasons  \
0       Afghanistan  2007                                  Executions
1       Afghanistan  2007                                  Meningitis
2       Afghanistan  2007                                   Neoplasms
3       Afghanistan  2007              Fire, heat, and hot substances
4       Afghanistan  2007                                     Malaria
...             ...   ...                                         ...
182155     Zimbabwe  2019  Cirrhosis and other chronic liver diseases
182156     Zimbabwe  2019                          Digestive diseases
182157     Zimbabwe  2019                             Acute hepatitis
182158     Zimbabwe  2019     Alzheimer's disease and other dementias
182159     Zimbabwe  2019                         Parkinson's disease

        TotalDeaths
0              15.0
1            2932.0
2           15924.0
3             481.0
4             392.0
...             ...
182155       2065.0
182156       4437.0
182157        136.0
182158        812.0
182159        232.0

[182160 rows x 4 columns]>

In [13]:
data2.nunique(axis=0)

Country           184
Year               30
DeathReasons       33
TotalDeaths     24077
dtype: int64

#### death data for 184 countries is available

In [14]:
#Creating a list of countries for which death records is available in tranformed dataset
countrylist1= data2['Country'].unique()
print(countrylist1)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile'
 'China' 'Colombia' 'Comoros' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Korea'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States of America' 'Uruguay' 'Uzbekistan'
 'Vanuatu' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

In [15]:
#Reading countries from country list
datacountrylist= pd.read_csv('https://imtprojectstorage.blob.core.windows.net/projectdatafiles/CountryList.csv?sp=r&st=2022-01-31T19:36:01Z&se=2023-05-01T02:36:01Z&spr=https&sv=2020-08-04&sr=b&sig=xyTEnJklZjv3jAZQ218PSgtwdYskYmG7jtCL7Rym%2Baw%3D')

In [16]:
datacountrylist.head()

   Id      Country
0   1  Afghanistan
1   2      Albania
2   3      Algeria
3   4      Andorra
4   5       Angola

In [17]:
datacountrylist.nunique(axis=0)

Id         195
Country    195
dtype: int64

In [18]:
#Creating a list for the total of 195 countries
countrylist2= datacountrylist['Country'].unique()
print(countrylist2)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 "CÃ´te d'Ivoire" 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo (Congo-Brazzaville)' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czechia (Czech Republic)' 'Democratic Republic of the Congo' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Eswatini (fmr. "Swaziland")' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Holy See'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Korea' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Palau' 'Palestine State' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States of America'
 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia'
 'Zimbabwe']

In [19]:
#Converting list of countries to dataframe
df2 = pd.DataFrame (countrylist2, columns = ['Country'])

In [20]:
#Checking which all countries out of 195 countries are not available in the tranformed dataset
df2[~df2['Country'].isin(countrylist1)]

                              Country
28                      CÃ´te d'Ivoire
29                         Cabo Verde
39          Congo (Congo-Brazzaville)
44           Czechia (Czech Republic)
45   Democratic Republic of the Congo
56        Eswatini (fmr. "Swaziland")
73                           Holy See
98                      Liechtenstein
111                        Micronesia
133                   Palestine State
174                       Timor-Leste

#### Exploratory Analysis of Population Data 1960-2020 Original Data Source:https://data.worldbank.org/indicator/SP.POP.TOTL?end=2020&start=1990

In [21]:
#data3 : Population Dataset
data3= pd.read_csv('https://imtprojectstorage.blob.core.windows.net/projectdatafiles/Countries%20by%20Population.csv?sp=r&st=2022-01-31T19:36:57Z&se=2023-08-01T02:36:57Z&spr=https&sv=2020-08-04&sr=b&sig=GHT0SjJJOidJ%2BODjX%2FQfmddy%2Fpl09%2FRp5CaVEXHZgE0%3D')

In [22]:
data3.shape

(266, 65)

In [23]:
data3.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2016              float64
2017              float64
2018              float64
2019              float64
2020              float64
Length: 65, dtype: object

In [24]:
data3.nunique(axis=0)

Country Name      266
Country Code      266
Indicator Name      1
Indicator Code      1
1960              260
                 ...
2016              262
2017              262
2018              262
2019              262
2020              262
Length: 65, dtype: int64

In [25]:
data3.isnull().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              2
                 ..
2016              2
2017              2
2018              2
2019              2
2020              2
Length: 65, dtype: int64

In [26]:
data3['Country Name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt', 'Euro area',
       'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'European Union',
       'Fragile and conflict affected situations', 'Finland', 'Fiji',
       'France', 'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar', 'Guinea',
       'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Guyana',
       'High income', 'Hong Kong SAR, China', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti',
       'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel',
       'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'South Korea', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'North Korea', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'South Asia', 'Saudi Arabia',
       'Sudan', 'Senegal', 'Singapore', 'Solomon Islands', 'Sierra Leone',
       'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syria',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States of America',
       'Uzbekistan', 'St. Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen', 'South Africa',
       'Zambia', 'Zimbabwe'], dtype=object)

#### Population datatset has not only countries but regions too

In [27]:
#data4: Analyzing tranformed Population Dataset after joining it with country list dataset
data4=pd.read_csv('https://imtprojectstorage.blob.core.windows.net/projectdatafilestransformed/transformed-country-by-population.csv?sp=r&st=2022-01-31T19:37:47Z&se=2024-01-01T03:37:47Z&spr=https&sv=2020-08-04&sr=b&sig=WW6tIdUmYAQnvkYaTq%2B5KH6jxEUfU%2FYSBXmQSm%2F8OLQ%3D')

In [28]:
data4.shape

(5430, 3)

In [29]:
data4.head

<bound method NDFrame.head of       Population      Country  Year
0     12412311.0  Afghanistan  1990
1     13299016.0  Afghanistan  1991
2     14485543.0  Afghanistan  1992
3     15816601.0  Afghanistan  1993
4     17075728.0  Afghanistan  1994
...          ...          ...   ...
5425  13814642.0     Zimbabwe  2015
5426  14030338.0     Zimbabwe  2016
5427  14236599.0     Zimbabwe  2017
5428  14438812.0     Zimbabwe  2018
5429  14645473.0     Zimbabwe  2019

[5430 rows x 3 columns]>

In [30]:
data4.nunique(axis=0)

Population    5415
Country        181
Year            30
dtype: int64

#### Population data for 181 countries is fetched