In [1]:
import pandas as pd

# Exploratory analysis of worldwide deaths (1990-2019),Orginal Data Source: https://ourworldindata.org/causes-of-death

Reading csv format data from azure blob storage via generatig SAS URL using Pandas

In [2]:
data=pd.read_csv('https://imtprojectstorage.blob.core.windows.net/projectdatafiles/annual-number-of-deaths-by-cause.csv?sp=r&st=2022-01-25T02:47:54Z&se=2022-06-30T09:47:54Z&spr=https&sv=2020-08-04&sr=b&sig=GQEJ0Yz%2Bj1lg%2FgLlo36jglAAnyWfm8qGh5nSc8MTHeQ%3D')

In [3]:
data.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2932.558591,15924.78254,481.219817,392.942607,2126.788535,3657.205757,...,2438.567035,1199.0,53962.25186,4490.174240,7221.773068,3345.814979,6457.753476,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2730.846137,16147.83903,462.180576,254.703403,1973.375893,3784.702895,...,2230.538625,1092.0,54050.64420,4533.825139,7142.796656,3316.354776,6407.964590,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.186423,16382.55855,448.300264,239.035635,1852.155239,3874.099828,...,1997.531216,1065.0,53964.19556,4596.974422,7045.249090,3291.158847,6358.027600,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2326.767573,17093.51567,447.884353,390.060248,1774.968476,4169.873038,...,1805.467089,1525.0,54347.26659,4784.629776,6915.563606,3317.891662,6370.000383,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.492968,17521.93019,445.226412,93.894201,1715.864705,4244.671108,...,1666.898963,3521.0,54868.12037,4845.667028,6877.511217,3352.846566,6398.171770,2264.0,1544.0,482.0

In [4]:
data['Entity'].unique()

array(['Afghanistan', 'Africa', 'African Region', 'African Union',
       'Albania', 'Algeria', 'America', 'American Samoa',
       'Andean Latin America', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Asia', 'Australasia',
       'Australasia & Oceania', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Bosnia-Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Caribbean',
       'Central African Republic', 'Central America & Caribbean',
       'Central Asia', 'Central Europe',
       'Central Europe, Eastern Europe, and Central Asia',
       'Central Latin America', 'Central sub-Saharan Africa', 'Chad',
       'Chile', 'China', 'Colombia', 'Commonwealth',
       'Commonwealth High Income', 'Commonwealth Low Income',
       'Commonwealth Middle Income', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Czechoslovakia', 'Democratic Republic of Congo',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
       'East Asia', 'East Asia & Pacific', 'East Asia & Pacific - WB',
       'East Germany (GDR)', 'East Timor', 'Eastern Europe',
       'Eastern Mediterranean Region', 'Eastern sub-Saharan Africa',
       'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea',
       'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Europe',
       'Europe & Central Asia', 'Europe & Central Asia - WB',
       'European Region', 'European Union', 'Fiji', 'Finland',
       'Four World Regions', 'France', 'French Guiana',
       'French Polynesia', 'G20', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High SDI', 'High-income', 'High-income Asia Pacific',
       'High-income North America', 'High-middle SDI', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'International', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean', 'Latin America & Caribbean - WB',
       'Latin America and Caribbean', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Low SDI', 'Low-middle SDI',
       'Luxembourg', 'Macau', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)',
       'Middle East & North Africa', 'Middle East & North Africa - WB',
       'Middle SDI', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Nordic Region',
       'North Africa and Middle East', 'North America', 'North Korea',
       'North Macedonia', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'OECD Countries', 'Oceania', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Serbia-Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South America', 'South Asia',
       'South Asia - Not WB', 'South Asia - WB', 'South Korea',
       'South Sudan', 'South-East Asia Region', 'Southeast Asia',
       'Southeast Asia, East Asia, and Oceania', 'Southern Latin America',
       'Southern sub-Saharan Africa', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa', 'Sub-Saharan Africa - Not WB',
       'Sub-Saharan Africa - WB', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tropical Latin America', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'WHO region', 'Wales', 'Wallis and Futuna', 'West Germany (FRG)',
       'Western Europe', 'Western Pacific Region', 'Western Sahara',
       'Western sub-Saharan Africa', 'World', 'World (excluding China)',
       'World Bank High Income', 'World Bank Income Levels',
       'World Bank Low Income', 'World Bank Lower Middle Income',
       'World Bank Regions', 'World Bank Upper Middle Income', 'Yemen',
       'Yugoslavia', 'Zaire', 'Zambia', 'Zimbabwe'], dtype=object)

Column entity has countries, income group, region, world values

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8590 entries, 0 to 8589
Data columns (total 36 columns):
 #   Column                                                                                    Non-Null Count  Dtype
---  ------                                                                                    --------------  -----
 0   Entity                                                                                    8590 non-null   object
 1   Code                                                                                      6206 non-null   object
 2   Year                                                                                      8590 non-null   int64
 3   Number of executions (Amnesty International)                                              267 non-null    object
 4   Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                  8220 non-null   float64
 5   Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                   8220 non-null   float64
 6   Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)              8220 non-null   float64
 7   Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                     8220 non-null   float64
 8   Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                    8220 non-null   float64
 9   Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                      8220 non-null   float64
 10  Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                    8220 non-null   float64
 11  Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                          8220 non-null   float64
 12  Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                8220 non-null   float64
 13  Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                               8220 non-null   float64
 14  Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                          8220 non-null   float64
 15  Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                8220 non-null   float64
 16  Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                          8220 non-null   float64
 17  Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                       8220 non-null   float64
 18  Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                8220 non-null   float64
 19  Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                          8220 non-null   float64
 20  Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)        8220 non-null   float64
 21  Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                    8220 non-null   float64
 22  Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                   8220 non-null   float64
 23  Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                      8220 non-null   float64
 24  Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                           8220 non-null   float64
 25  Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                  8220 non-null   float64
 26  Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                 8220 non-null   float64
 27  Terrorism (deaths)                                                                        2891 non-null   float64
 28  Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                     8220 non-null   float64
 29  Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                      8220 non-null   float64
 30  Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                8220 non-null   float64
 31  Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)  8220 non-null   float64
 32  Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                          8220 non-null   float64
 33  Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                             8220 non-null   float64
 34  Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)     8220 non-null   float64
 35  Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                         8220 non-null   float64
dtypes: float64(32), int64(1), object(3)
memory usage: 2.4+ MB

In [7]:
data.isnull().sum()

Entity                                                                                         0
Code                                                                                        2384
Year                                                                                           0
Number of executions (Amnesty International)                                                8323
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                     370
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                      370
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                 370
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                        370
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                       370
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                         370
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                       370
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                             370
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                   370
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                  370
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                             370
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                   370
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                             370
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                          370
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                   370
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                             370
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)           370
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                       370
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                      370
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                         370
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                              370
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                     370
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                    370
Terrorism (deaths)                                                                          5699
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                        370
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                         370
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                   370
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)     370
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                             370
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                                370
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)        370
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                            370
dtype: int64

Analyzing transformed file of deaths by analysis

In [9]:
data2= pd.read_csv('https://imtprojectstorage.blob.core.windows.net/projectdatafilestransformed/transformed-annual-number-of-deaths-by-cause_Country.csv?sp=r&st=2022-01-30T00:05:01Z&se=2022-01-30T08:05:01Z&spr=https&sv=2020-08-04&sr=b&sig=zfD%2Fd9SleWejgA7HCnA8Qm48e54JhpEisyZqDESSpss%3D')

In [10]:
data2.head()

       Country  Year                    DeathReasons  TotalDeaths
0  Afghanistan  2007                      Executions         15.0
1  Afghanistan  2007                      Meningitis       2932.0
2  Afghanistan  2007                       Neoplasms      15924.0
3  Afghanistan  2007  Fire, heat, and hot substances        481.0
4  Afghanistan  2007                         Malaria        392.0

In [11]:
data2.nunique(axis=0)

Country           184
Year               30
DeathReasons       33
TotalDeaths     24077
dtype: int64

death data for 184 countries is available

In [12]:
countrylist1= data2['Country'].unique()
print(countrylist1)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cambodia' 'Cameroon' 'Canada' 'Central African Republic' 'Chad' 'Chile'
 'China' 'Colombia' 'Comoros' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Denmark' 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Marshall Islands'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Korea'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palau' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine' 'United Arab Emirates'
 'United Kingdom' 'United States of America' 'Uruguay' 'Uzbekistan'
 'Vanuatu' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

In [14]:
datacountrylist= pd.read_csv('https://imtprojectstorage.blob.core.windows.net/projectdatafiles/CountryList.csv?sp=r&st=2022-01-30T00:07:29Z&se=2022-01-30T08:07:29Z&spr=https&sv=2020-08-04&sr=b&sig=mKgg1gy0eJBb9oNHlXJcooWTqO9jv1B8ypWcD1aWt9E%3D')

In [15]:
datacountrylist.head()

   Id      Country
0   1  Afghanistan
1   2      Albania
2   3      Algeria
3   4      Andorra
4   5       Angola

In [16]:
datacountrylist.nunique(axis=0)

Id         195
Country    195
dtype: int64

In [17]:
countrylist2= datacountrylist['Country'].unique()
print(countrylist2)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 "CÃ´te d'Ivoire" 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo (Congo-Brazzaville)' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czechia (Czech Republic)' 'Democratic Republic of the Congo' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia'
 'Eswatini (fmr. "Swaziland")' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Holy See'
 'Honduras' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia'
 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco' 'Mozambique'
 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'North Korea' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Palau' 'Palestine State' 'Panama' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania'
 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania'
 'Thailand' 'Timor-Leste' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States of America'
 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia'
 'Zimbabwe']

In [18]:
df2 = pd.DataFrame (countrylist2, columns = ['Country'])

Countries for which death data is not available

In [19]:
df2[~df2['Country'].isin(countrylist1)]

                              Country
28                      CÃ´te d'Ivoire
29                         Cabo Verde
39          Congo (Congo-Brazzaville)
44           Czechia (Czech Republic)
45   Democratic Republic of the Congo
56        Eswatini (fmr. "Swaziland")
73                           Holy See
98                      Liechtenstein
111                        Micronesia
133                   Palestine State
174                       Timor-Leste